@model WebApp.Models.CommandeVM

@{
    ViewData["Title"] = "Détails de commande";

    var npaCookie = Context.Request.Cookies["LocaliteNPA"];

    var villeCookie = Context.Request.Cookies["LocaliteVille"];
}

<h2>Détails de l'utilisateur et de sa commande</h2>

<div>
    <h4>Infos concernant l'utilisateur</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdUtilisateur)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdUtilisateur)
        </dd>
        <dt class="col-sm-2">
            Utilisateur
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nom) @Html.DisplayFor(model => model.Prenom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumTelephone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumTelephone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Adresse)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Adresse)
        </dd>
        <dt class="col-sm-2">
            NPA
        </dt>
        <dd class="col-sm-10">
            @npaCookie
        </dd>
        <dt class="col-sm-2">
            Ville
        </dt>
        <dd class="col-sm-10">
            @villeCookie
        </dd>
    </dl>
    <h4>Infos concernant la commande</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdCommande)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdCommande)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CommandeLivree)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CommandeLivree)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PrixTotal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PrixTotal) CHF
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HeureLivraison)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HeureLivraison)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TempsLivraison)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TempsLivraison) minutes
        </dd>
    </dl>
    @foreach (var item in Model.ListPlats)
    {
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                Nom du plat
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => item.Nom)
            </dd>
            <dt class="col-sm-2">
                Prix d'un plat
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => item.Prix) CHF
            </dd>
            <dt class="col-sm-2">
                Description
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => item.Description)
            </dd>
            <dt class="col-sm-2">
                Quantité demandée
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => item.Quantite)
            </dd>
            <dt class="col-sm-2">
                Nom du restaurant
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => item.NomRestaurant)
            </dd>
            <dt class="col-sm-2">
                Adresse
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => item.Adresse)
            </dd>
            <dt class="col-sm-2">
                NPA
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => item.NPA)
            </dd>
            <dt class="col-sm-2">
                Ville
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => item.Ville)
            </dd>
        </dl>
    }
</div>
<div>
    <a asp-action="Index">Retourner à la liste de commandes</a>
</div>
