@model IEnumerable<ItemVM>

@{
    ViewData["Title"] = "Les Plats";
}

<h1>Liste des plats</h1>

<table class="table">
    <thead>
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.IdPlat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdRestaurant)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prix)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @using (Html.BeginForm("Details", "Restaurants", FormMethod.Post, new {itemvm = item }))
            {
                <tr>
                    @Html.HiddenFor(modeItem => item.IdPlat)
                    @Html.HiddenFor(modeItem => item.IdRestaurant)
                    <td>
                        @Html.DisplayFor(modelItem => item.Nom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Prix) CHF
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.TextBoxFor(modelItem => item.Quantite)
                    </td>
                    <td>
                        <input type="submit" value="Ajouter au panier" class="btn btn-primary" />
                        @*@Html.ActionLink("Ajouter au panier", "Details", new { id = item.IdPlat, quantite = item.Quantite })*@
                    </td>
                </tr>
            }
        }
    </tbody>
</table>


<p>
    @Html.ActionLink("Commander", "Terminer")
</p>
