@model WebApp.Models.CommandeVM

@{
    ViewData["Title"] = "Detail";
}

<table class="table">
    <thead>
        <tr>
            <th>
                IdPlat
            </th>
            <th>
                IdRestaurant
            </th>
            <th>
                Nom
            </th>
            <th>
                Prix
            </th>
            <th>
                Quantite
            </th>
        </tr>
    </thead>
    <tbody>


        @foreach (var item in Model.ListPlats)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.IdPlat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdRestaurant)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prix) CHF
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantite)
                </td>
            </tr>

        }

    </tbody>
</table>


<form asp-action="Delete">
    @Html.ActionLink("Delete", "Delete", new { id = Model.IdCommande}) |
    <a asp-action="Historique">Retour à l'historique</a>
</form>
