@model WebApp.Models.CommandeVM

@{
    ViewData["Title"] = "Détails de commande";
}

<h4>Détails de ma commande</h4>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdCommande)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdCommande)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CommandeLivree)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CommandeLivree)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PrixTotal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PrixTotal) CHF
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HeureLivraison)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HeureLivraison)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TempsLivraison)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TempsLivraison) minutes
        </dd>
    </dl>
    @foreach (var item in Model.ListPlats)
    {
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                Nom du plat
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => item.Nom)
            </dd>
            <dt class="col-sm-2">
                Prix d'un plat
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => item.Prix) CHF
            </dd>
            <dt class="col-sm-2">
                Description
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => item.Description)
            </dd>
            <dt class="col-sm-2">
                Quantité demandée
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => item.Quantite)
            </dd>
            <dt class="col-sm-2">
                Nom du restaurant
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => item.NomRestaurant)
            </dd>
            <dt class="col-sm-2">
                Adresse
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => item.Adresse)
            </dd>
            <dt class="col-sm-2">
                NPA
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => item.NPA)
            </dd>
            <dt class="col-sm-2">
                Ville
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => item.Ville)
            </dd>
        </dl>
    }
</div>
<div>
    @Html.ActionLink("Delete", "Delete", new { id = Model.IdCommande }) |
    <a asp-action="Historique">Retour à l'historique</a>
</div>