@model IEnumerable<WebApp.Models.PanierVM>

@{
    ViewData["Title"] = "Panier";
}

<h1>Mon Panier</h1>

<p>
    <a asp-action="Historique">Historique de mes commandes</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdPlat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prix)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HeureLivraison)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <form asp-action="Edit">
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdPlat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prix) CHF
                </td>
                <td>
                    <input asp-for="modelItem => @item.Quantite" class="form-control" />
                    <span asp-validation-for="modelItem => @item.Quantite" class="text-danger"></span>@* @Html.DisplayFor(modelItem => item.Quantite) *@
                </td>
                <td>
                    <input asp-for="@item.HeureLivraison" class="form-control" data-date-format="hh:mm" type="text" />
                    <span asp-validation-for="@item.HeureLivraison" class="text-danger"></span>
                    
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.IdPlat })
                </td>
            </tr>
        }
        </form>
        </tbody>
</table>
<p>
    <a asp-action="Historique">Commander !</a>
</p>
