@model WebApp.Models.PanierVM

@{
    ViewData["Title"] = "Panier";
}

<h1>Mon panier</h1>

<p>
    <a asp-action="Historique">Historique de mes commandes</a>
</p>
@using (Html.BeginForm("Index", "Commandes", FormMethod.Post))
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    IdPlat
                </th>
                <th>
                    Nom
                </th>
                <th>
                    Prix
                </th>
                <th>
                    Quantité
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Items != null && Model.Items.Any())
            {
                @for (int i = 0; i < Model.Items.Count; i++)
                {
                    <tr>
                        @Html.HiddenFor(modelItem => modelItem.Items[i].IdRestaurant)
                        @Html.HiddenFor(modelItem => modelItem.Items[i].Description)
                        <td>
                            @Html.DisplayFor(modelItem => modelItem.Items[i].IdPlat)
                            @Html.HiddenFor(modelItem => modelItem.Items[i].IdPlat)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => modelItem.Items[i].Nom)
                            @Html.HiddenFor(modelItem => modelItem.Items[i].Nom)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => modelItem.Items[i].Prix) CHF
                            @Html.HiddenFor(modelItem => modelItem.Items[i].Prix)
                        </td>
                        <td>
                            @Html.EditorFor(modelItem => modelItem.Items[i].Quantite)
                            @Html.HiddenFor(modelItem => modelItem.Items[i].Quantite)
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="5" align="center">
                        Pas d'éléments
                    </td>
                </tr>
            }
        </tbody>
    </table>


    @if (Model.Items != null && Model.Items.Any())
    {
        <h5>Veuillez spécifier l'heure de livraison</h5>
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Index">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="HeureLivraison" class="control-label"></label>
                        <select asp-for="HeureLivraison" class="form-control" data-date-format="HH:mm" type="time">

                            <option value="10:00">10:00</option>
                            <option value="10:15">10:15</option>
                            <option value="10:30">10:30</option>
                            <option value="10:45">10:45</option>

                            <option value="11:00">11:00</option>
                            <option value="11:15">11:15</option>
                            <option value="11:30">11:30</option>
                            <option value="11:45">11:45</option>

                            <option value="12:00">12:00</option>
                            <option value="12:15">12:15</option>
                            <option value="12:30">12:30</option>
                            <option value="12:45">12:45</option>

                            <option value="13:00">13:00</option>
                            <option value="13:15">13:15</option>
                            <option value="13:30">13:30</option>
                            <option value="13:45">13:45</option>

                            <option value="14:00">14:00</option>
                            <option value="14:15">14:15</option>
                            <option value="14:30">14:30</option>
                            <option value="14:45">14:45</option>

                            <option value="15:00">15:00</option>
                            <option value="15:15">15:15</option>
                            <option value="15:30">15:30</option>
                            <option value="15:45">15:45</option>

                            <option value="16:00">16:00</option>
                            <option value="16:15">16:15</option>
                            <option value="16:30">16:30</option>
                            <option value="16:45">16:45</option>

                            <option value="17:00">17:00</option>
                            <option value="17:15">17:15</option>
                            <option value="17:30">17:30</option>
                            <option value="17:45">17:45</option>

                            <option value="18:00">18:00</option>
                            <option value="18:15">18:15</option>
                            <option value="18:30">18:30</option>
                            <option value="18:45">18:45</option>

                            <option value="19:00">19:00</option>
                            <option value="19:15">19:15</option>
                            <option value="19:30">19:30</option>
                            <option value="19:45">19:45</option>

                            <option value="20:00">20:00</option>
                            <option value="20:15">20:15</option>
                            <option value="20:30">20:30</option>
                            <option value="20:45">20:45</option>

                            <option value="21:00">21:00</option>
                            <option value="21:15">21:15</option>
                            <option value="21:30">21:30</option>
                            <option value="21:45">21:45</option>
                            <option value="22:00">22:00</option>

                        </select>
                        <span asp-validation-for="HeureLivraison" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Commander" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

    }
}
