@model IEnumerable<WebApp.Models.PanierVM>

@{
    ViewData["Title"] = "Panier";
}

<h1>Mon Panier</h1>

<p>
    <a asp-action="Historique">Historique de mes commandes</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdPlat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prix)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HeureLivraison)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdPlat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prix) CHF
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HeureLivraison)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id=item.IdPlat })
            </td>
        </tr>
}
    </tbody>
</table>
<p>
    <a asp-action="Historique">Commander !</a>
</p>
